body.wide-mode .sonic-content-panel {
  flex: 1 1 0;
  min-width: 0;
}
body.fitted-mode .sonic-content-panel {
  flex: 0 1 300px;
}
body.mobile-mode .sonic-section-panel .section-row {
  flex-direction: column !important;
}
body.mobile-mode .sonic-content-panel {
  flex: 1 1 100% !important;
}