{% extends "base.html" %}
{% block title %}Sonic{% endblock %}

{% block extra_styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/liquidation_bars.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid pt-2">

  <!-- 🧱 Top Cards: Portfolio + Monitor (side by side in dashboard_top.html) -->
  <div id="dashboardCardsContainer">
    {% include "partials/dashboard_top.html" %}
  </div>

  <!-- 🧱 Middle Section: Positions Table or Positions + Liquidation Bars -->
  {% include "partials/dashboard_middle.html" %}
</div>
{% endblock %}

{% block extra_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/dashboard_top.js') }}"></script>
{% endblock %}
