<link rel="stylesheet" href="../../static/css/dashboard.css">
<link rel="stylesheet" href="../../static/css/dashboard_middle.css">
<div class="dashboard-middle-flex">
  <div class="dashboard-middle-half">
    <div class="dashboard-section">
      <h5 class="section-title">Positions</h5>
      {% include "positions_table.html" %}

    </div>
  </div>
  <div class="dashboard-middle-half">
    <div class="dashboard-section">
      <h5 class="section-title">Liquidation Bars</h5>
      {% include "liquidation_bars.html" %}
    </div>
  </div>
</div>
/* Remove after testing */
